<div class="sol_banner">
  <div class="banner_img">
     <div class="container">
       <div class="banner_block">
         <div class="banner_content">
            <h4 class="banner_head">Client Testimonials</h4>
            <p class="banner_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh </p>
            <p class="banner_btn"><a href="#">More...</a></p>
         </div>
       </div>
     </div>
  </div>
</div>


<div class="testimonial_block">
  <div class="container">
     <div class="testimonial_bg">
        <h4 class="testimonial_head">Lorem ipsum dolor sit amet</h4>
        <div class="testimonial_description">
           <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumLorem ipsum Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumLorem ipsum.</p>
        </div>

        <div class="testimonial_blog">
          <div class="row">
             <div class="col-sm-4 display_tbl_cell">
                <div class="test_image">
                   <img src="assets/images/testimonials/img-1.png" alt="testimonial-image">
                </div>
             </div>
             <div class="col-sm-8">
                <div class="blog_section">
                   <div class="test_description">
                     <span class="profile_quote_icon"></span>
                      <h4 class="test_head">Lorem ipsum dolor sit amet, consectetuer adipiscing tetuer adipiscing elit, </h4>
                      <p class="test_para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumLorem ipsum dolor sit amet,</p>
                      <p class="test_learn_more"><a href="#">Learn More</a></p>
                   </div>
                   <div class="profile_description">
                      <div class="profile_details">
                         <h4 class="profile_des_head">Name of the person, designation</h4>
                         <p class="profile_des">nummy elit, sed diam nonum</p>
                      </div>
                      <div class="profile_des_icon">
                         <img src="assets/images/testimonials/icon-1.png" class="img-responsive" alt="profile-image">
                      </div>
                   </div>
                </div>
             </div>
           </div>
         </div>

         <div class="testimonial_blog">
          <div class="row">
             <div class="col-sm-4 display_tbl_cell">
                <div class="test_image">
                   <img src="assets/images/testimonials/img-2.png" alt="testimonial-image">
                </div>
             </div>
             <div class="col-sm-8">
                <div class="blog_section">
                   <div class="test_description">
                     <span class="profile_quote_icon"></span>
                      <h4 class="test_head">Lorem ipsum dolor sit amet, consectetuer adipiscing tetuer adipiscing elit, </h4>
                      <p class="test_para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumLorem ipsum dolor sit amet,</p>
                      <p class="test_learn_more"><a href="#">Learn More</a></p>
                   </div>
                   <div class="profile_description">
                      <div class="profile_details">
                         <h4 class="profile_des_head">Name of the person, designation</h4>
                         <p class="profile_des">nummy elit, sed diam nonum</p>
                      </div>
                      <div class="profile_des_icon">
                         <img src="assets/images/testimonials/icon-1.png" class="img-responsive" alt="profile-image">
                      </div>
                   </div>
                </div>
             </div>
           </div>
         </div>


         <div class="testimonial_blog">
          <div class="row">
             <div class="col-sm-4 display_tbl_cell">
                <div class="test_image">
                   <img src="assets/images/testimonials/img-3.png" alt="testimonial-image">
                </div>
             </div>
             <div class="col-sm-8">
                <div class="blog_section">
                   <div class="test_description">
                     <span class="profile_quote_icon"></span>
                      <h4 class="test_head">Lorem ipsum dolor sit amet, consectetuer adipiscing tetuer adipiscing elit, </h4>
                      <p class="test_para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumLorem ipsum dolor sit amet,</p>
                      <p class="test_learn_more"><a href="#">Learn More</a></p>
                   </div>
                   <div class="profile_description">
                      <div class="profile_details">
                         <h4 class="profile_des_head">Name of the person, designation</h4>
                         <p class="profile_des">nummy elit, sed diam nonum</p>
                      </div>
                      <div class="profile_des_icon">
                         <img src="assets/images/testimonials/icon-1.png" class="img-responsive" alt="profile-image">
                      </div>
                   </div>
                </div>
             </div>
           </div>
         </div>




     </div>   
  </div>
</div>