<%- include('includes/header') %>
<div class="container login-page">

<%- messages() %>

      <form class="form-signin" method="post" action="/users/login">
        <h2 class="form-signin-heading text-center">User Login</h2>
        <label for="inputEmail" class="sr-only">username</label>
        <input type="text" name="username" class="form-control" placeholder="username" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <br>
       <p> No Account? <a href="/users/register">Register</a></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->

<%- include('includes/footer') %>

