<div class="header">
  <div class="sub_header">
    <div class="container">
        <div class="sub_header_fields">
          <div class="request_btn">
              <a href="#"> 
                <span class="request_icon"><img src="assets/images/sub-header-icon.png" alt="icon"></span>
                <span class="request_text">Request a Custome PoC</span>
              </a>
          </div>
            <div class="search_btn">
                <span class="search_field"><input type="text" placeholder="Search" class="header_search_filed"></span>
                <span class="search_icon"><img src="assets/images/header-search.png" alt="search-icon"></span>
          </div>
        </div>
    </div>
  </div>


<div class="main_menu">
  <nav class="navbar menu_navbar">
  <div class="container">
  <div class="navbar-header menu_navbar_header">
    <button type="button" class="navbar-toggle menu_navbar_toggle" data-toggle="collapse" data-target="#myNavbar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>                        
    </button>
    <a class="navbar-brand menu_navbar_brand" href="#"><img src="assets/images/banner/logo.png"></a>
  </div>
  <div class="collapse navbar-collapse menu_navbar_collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right menu_navbar_right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Solution<span class="caret"></span></a>
      <ul class="dropdown-menu menu_dropdown_menu">
      <li><a routerLink="/">Overview</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">Integrations</a></li>
      </ul>
    </li>
    <li><a href="#">Services</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Clients<span class="caret"></span></a>
      <ul class="dropdown-menu menu_dropdown_menu">
      <li><a href="#">Success Cases</a></li>
      <li><a href="/testimonals">Testimonials</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Demo<span class="caret"></span></a>
      <ul class="dropdown-menu menu_dropdown_menu">
      <li><a href="#">Online Demo</a></li>
      <li><a href="#">Request a Custom PoC</a></li>
      </ul>
    </li>
    <li><a href="#">Pricing</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">About<span class="caret"></span></a>
      <ul class="dropdown-menu menu_dropdown_menu">
      <li><a href="#">Firm</a></li>
      <li><a href="#">Recognitions</a></li>
      <li><a href="#">Team</a></li>
      <li><a href="#">Press</a></li>
      <li><a href="#">Locations</a></li>
      </ul>
    </li>
    <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
  </div>
</nav>
</div>
 <!-- <router-outlet></router-outlet> -->