<div class="content_blog">
  <div class="container">
     <h4 class="blog_main_head">Lorem ipsum dolor sit amet, consectetuer </h4>
     <div class="blog_section">
        <div class="row">
           <div class="col-sm-4" *ngFor="let img of data">
              <div class="blog_block">
                 <div class="blog_cnt">
                    <h4 class="blog_head">{{img.title}}</h4>
                    <p class="blog_para">{{img.body}}</p>
                    <p class="blog_link"><a href="#">For More...</a></p>
                 </div>
                 <div class="blog_img">
                  <img src="assets/images/label-1.png" class="img-responsive" alt="label image">
               </div>
               </div>
     </div>
  </div>
</div>